################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/LanguageFeatures/LanguageFeatures/bin
/LanguageFeatures/.vs/LanguageFeatures/v14
/LanguageFeatures/.vs/config
/LanguageFeatures/LanguageFeatures/obj/Debug
/LanguageFeatures/LanguageFeatures/LanguageFeatures.csproj.user
