################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/LanguageFeatures/LanguageFeatures/bin
/LanguageFeatures/.vs/LanguageFeatures/v14
/LanguageFeatures/.vs/config
/LanguageFeatures/LanguageFeatures/obj/Debug
/LanguageFeatures/LanguageFeatures/LanguageFeatures.csproj.user
/PartyInvites/.vs
/PartyInvites/PartyInvites/bin
/PartyInvites/PartyInvites/obj/Debug
/PartyInvites/PartyInvites/PartyInvites.csproj.user
/Razor/.vs
/Razor/Razor/obj/Debug
/Razor/Razor/bin
/Razor/Razor/Razor.csproj.user
/EssentialTools/.vs
/EssentialTools/EssentialTools/bin
/EssentialTools/EssentialTools/obj/Debug
/EssentialTools/EssentialTools/EssentialTools.csproj.user
/EssentialTools/EssentialTools.Tests/bin/Debug
/EssentialTools/EssentialTools.Tests/obj/Debug
/SportsStore/.vs
/SportsStore/SportsStore.WebUI/SportsStore.WebUI.csproj.user
/SportsStore/SportsStore.WebUI/bin
/SportsStore/SportsStore.WebUI/obj/Debug
/SportsStore/SportsStore.UnitTests/bin/Debug
/SportsStore/SportsStore.UnitTests/obj/Debug
/SportsStore/SportsStore.Domain/bin/Debug
/SportsStore/SportsStore.Domain/obj/Debug
/Filters/.vs
/Filters/Filters/bin
/Filters/Filters/obj/Debug
/Filters/packages
